@charset "UTF-8";
@font-face {
    font-family: "Bebas Neue" ;
    src: url(fontes/Fontfabric-BebasNeue-Book.ttf);
}
@font-face {
    font-family: "idroid" ;
    src: url(fontes/idroid.otf);
}

body {
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #EBE5C5;
}

header {
    background-image: linear-gradient(to top, #053218, #2FA766 );
    padding: 10px;
    text-align: center;
    color: #fff;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.27);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.27);
}

header > p {
    font-size: 19px;
    padding-bottom: 40px;
}

header > h1 {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 3em;
    font-style: inherit;
    font-weight: 900;
}

header > nav {
    text-align: left;
}

nav > a {
    text-decoration: none;
    color: #83E1AD;
    padding: 10px;
    font-weight: bold;
}

nav > a:hover {
    color: #063D1E;
    background-color: #2FA866 ;
    text-shadow: none;
    padding: 10px;
    border-radius: 5px;
}

main {
    background-color: #fff;
    margin: 0px 240px;
    padding: 20px;
    text-indent: 30px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.6);
}

.titulodroid {
    font-family: "idroid", sans-serif;
    text-align: left;
    text-indent: 0px;
}

section > h1 {
    color: #063D1E;
    font-size: 28px;
    font-weight: 100;
    margin: 0px;
}

.texto{
    text-align: justify;
    line-height: 35px;
}

span {
    color: #1A5C37;
    font-weight: bold;
}

.link {
    color: #063D1E;
    text-decoration: none;
    font-weight: bold;
    background-color: #83E1AD;
    padding: 2px 4px;
}

.link::after {
    content: " 🔗 ";
}

.link:hover {
    text-decoration: underline;
    color: #1A5C37;
}

article > h2 {
    font-size: 20px;
    color: #1A5C37;
    background-image: linear-gradient(to right, #83E1AD, #fff);
    font-weight: 100;
}

.imagem {
    margin: auto;
    display: block;
}

#video {
    background-color: #053218;
    margin: 0px;
    padding: 20px;
}

div {
    background-color: #1A5C37;
    color: #fff;
    margin-top: 30px;
    border-radius: 10px 10px 0px 0px;
}

div > p {
    padding: 10px 5px;
    text-indent: 0px;
    font-weight: bold;
    font-size: 18px;
}

#versoes {
    background-color: #83E1AD;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.6);
}

#versoes > p {
    padding: 10px 2px;
    margin: 0px;
}

footer {
    background-color: #053218;
    text-align: center;
    padding: 1px;
    margin-top: 20px;
    color: #fff;
}